body {
  font-family: Arial, sans-serif;
  background-color: #e6e6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: white;
  border-radius: 12px;
  padding: 40px 30px;
  width: 400px;
  box-shadow: 0 0 0 2px #dedaff;
}

.form-container h2 {
  text-align: center;
  color: #1a1aff;
  font-size: 28px;
  margin-bottom: 30px;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
  transition: all 0.2s ease;
}

.input-group input {
  width: 90%;
  padding: 14px 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  background: white;
  color: #696972;
  transition: all 0.2s ease;
}

.input-group label {
  position: absolute;
  top: 14px;
  left: 16px;
  background: white;
  color: #696972;
  transition: 0.2s ease;
  padding: 0 4px;
  pointer-events: none;
}

/* Float label */
.input-group.is-focused label,
.input-group input:valid + label {
  top: -8px;
  left: 12px;
  font-size: 12px;
  color: rgb(60, 56, 180);
}


/* Focused */
.input-group.is-focused input {
  border-color: rgb(60, 56, 180);
}

/* Valid  */
.input-group.is-valid input  {
  border-color: green;

}

.input-group.is-valid input + label  {
  color: rgb(17, 140, 17);
}

/* Error */
.input-group.is-error input {
  border-color: red;
}


.input-group.is-error.is-focused label {
  color: red !important;
}
.error-msg {
  font-size: 12px;
  /* color: red; */
  margin-top: 4px;
}


button {
  width: 100%;
  display: flex;
  width: 153px;
  height: 38px;
  padding: 10px;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 15px;
  background-color: #1a1aff;
  color: white;
  border: none;
  margin: 0 auto;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #0000e6;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 6px;
  padding-left: 6px;
}
